@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, this a page build with Blazor Components</h1>

Welcome to your new app.

<section class="section-blazor">
    <button>This is a Button using Blazor</button>
</section>

